server:
  port: 81 #test

eureka:
  client:
    register-with-eureka: false
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/

feign:
  hystrix:
    enable: true
  circuitbreaker:
    enabled: true
